
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/addbutton.js"></script>

  <p>El día de hoy: {{dayTitle}}</p>

  <div class="day-container">

  {{#each movies}}
  <article class="movie partial">{{> moviePartial this}}
  <button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`movies`)"><i class="far fa-plus-square"></i> AÑADIR A FAVORITOS</button>
  </article>
  {{/each}}

  {{#each series}}
  <article class="serie partial">{{> seriesPartial this}}
  <button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`series`)"><i class="far fa-plus-square"></i> AÑADIR A FAVORITOS</button>
  </article>
  {{/each}}

  {{#each tuits}}
  {{> tuitPartial this}}
  {{/each}}

  
    <img src={{wiki.img}}>
    <ul>
      {{#each wiki.wikis}}
      <li>{{this.year}}: {{this.description}}</li>
      <p><a href={{this.link}}>Leer más</a></p>
      {{/each}}
    </ul>

  </>

  {{#each games}}
  <article class="serie partial">{{> gamePartial this}}
  <button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`games`)"><i class="far fa-plus-square"></i> AÑADIR A FAVORITOS</button>
  </article>
  {{/each}}

  <hr>
  <h1 id="commentlist">COMMENTS</h1>

  {{#each comments}}
  {{> commentPartial }}
  {{/each}}

  {{#if user}}
  <hr>
  <h1>ADD A NEW COMMENT:</h1>
  <label>Text: <textarea id="textcomment" cols="50" name="text"
      placeholder="¿Qué quieres decir?"></textarea></label><br><br>
  <button onclick="addComment(`{{id}}`)">Enviar</button>
  {{/if}}

</div>