<div class="fix"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/addbutton.js"></script>

<header class="day-hero">
  <section class="day-hero-text">
    <h1>IKEIALA</h1>
    <h2 class="day-title">Agenda para el día {{dayTitle}}</h2>
  </section>
</header>

<menu class="sections">
  <ul>
    <li><a href="#movies">Estrenos de cine</a></li>
    <li><a href="#series">Nuevos episodios de series</a></li>
    <li><a href="#games">Lanzamientos en videojuegos</a></li>
  </ul>
</menu>

<div class="day">

  <div class="main-boxes">
    <div class="container-wiki" id="#wiki">
      <img src={{wiki.img}}>
      <ul>
        <h2 class="wiki"> <i class="fab fa-wikipedia-w wiki"> </i> EFEMÉRIDES DEL DÍA</h2>
        {{#each wiki.wikis}}
        <li><strong>{{this.year}}</strong>: {{this.description}} <a href={{this.link}}>Leer más</a></li>
        {{/each}}
      </ul>
    </div>

    <div class="container-tuits" id="#tuits">
      <ul>
        <h2 class="tuits"> <i class="fab fa-twitter tuits"> </i> TRENDING TOPICS</h2>
        <p>El año pasado, tal día como hoy, la gente hablaba de estos temas:</p>
        {{#each tuits}}
        <li>{{> tuitPartial this}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

  <a name="series"></a>
  <h2 class="series"> <i class="fas fa-tv series"> </i> NUEVOS EPISODIOS DE SERIES</h2>
  <div class="container" id="#series">
    {{#each series}}
    <article class="serie partial">{{> seriesPartial this}}
      <div class="add"><button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`series`)"><i
            class="far fa-plus-square"></i> AÑADIR A FAVORITOS</button></div>
    </article>
    {{/each}}
  </div>

  <a name="movies"></a>
  <h2 class="movies"> <i class="fas fa-film movies"> </i> ESTRENOS DE CINE</h2>
  <div class="container" id="#movies">
    {{#each movies}}
    <article class="movie partial">{{> moviePartial this}}
      <div class="add"><button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`movies`)"><i
            class="far fa-plus-square"></i> AÑADIR A FAVORITOS</button></div>
    </article>
    {{/each}}
  </div>

  <a name="games"></a>
  <h2 class="games"> <i class="fas fa-gamepad games"> </i> LANZAMIENTOS EN VIDEOJUEGOS</h2>
  <div class="container-row" id="#games">
    {{#each games}}
    <article class="game partial partial-game">{{> gamePartial this}}
      <div class="add"><button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`games`)"><i class="far fa-plus-square"></i>
          AÑADIR A FAVORITOS</button></div>
    </article>
    {{/each}}


    <h1 class="commentlist">COMMENTS</h1>
    <div id="commentlist">
    {{#each comments}}
    {{> commentPartial }}
    {{/each}}
    </div>
    {{#if user}}

    <h1 class="addcommentlist">ADD A NEW COMMENT:</h1>
    <textarea id="textcomment" cols="50" name="text"
        placeholder="¿Qué quieres decir?"></textarea>
    <button class="addcommentbut" onclick="addComment(`{{id}}`)">Enviar</button>
    {{/if}}

  </div>
</div>