<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <script>window.url = {{{ url }}}</script>
  <nav>
    <div class="search">
      <form action="/day" method="post" class="search-form">
        <input type="text" name="date" id="search-year-date-input" value="" placeholder="AAAA/MM/DD" autocomplete="off">
        <button type="submit" id="send-day"><i class="fa fa-search"></i></button>
      </form>
   <div id="v-cal">
  <div class="vcal-header">
    <button class="vcal-btn" data-calendar-toggle="previous">
      <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
      </svg>
    </button>

    <div class="vcal-header__label" data-calendar-label="month">
      March 2017
    </div>

    <button class="vcal-btn" data-calendar-toggle="next">
      <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
      </svg>
    </button>
  </div>

  <div class="vcal-week">
    <span>Lun</span> <span>Mar</span><span>Mie</span> <span>Jue</span> <span>Vie</span> <span>Sab</span> <span>Dom</span>
  </div>
  <div class="vcal-body" data-calendar-area="month"></div>
</div>
    </div>


    <div class="menu">
      <a href="/"><i class="fa fa-home"></i></a>
      {{#if user}}
        <a href="/user/{{user.id}}">My profile</a>
        <a href="/auth/logout">Logout</a>
      {{else}}
        <a id="logbutton" href="">Login</a>
      {{/if}}
    </div>

  </nav>

  <div id="shadowed"> </div>


  {{{body}}}

  <div class="form-container" id="login">

	<div class="l-form">
  <form action="/auth/login" method="POST" id="loginform">
		<input class="l-usr" name="username" placeholder="USUARIO">
		<div class="pass-wrap l-pass">
			<input class="pass" name="password" placeholder="CONTRASEÑA" type="password">
			<div class="pass-view">
				<i class="far fa-eye"></i>
			<i class="far fa-eye-slash" style="display: none;"></i>
			</div>
		</div>
		<button class="l-go">ENVIAR</button>
    </form>
	</div>

	<div class="r-form">
  <form action="/auth/signup" method="POST" id="signupform" enctype="multipart/form-data">
		<input class="r-1" name="username" placeholder="USUARIO">
    {{!-- <input class="r-2" name="email" placeholder="EMAIL" type="email"> --}}
    <input class="r-2" name="bio" placeholder="BIO">

		<div class="pass-wrap r-3">
			<input class="pass" name="password" placeholder="CONTRASEÑA" type="password">
			<div class="pass-view">
				<i class="far fa-eye"></i>
			<i class="far fa-eye-slash" style="display: none;"></i>
			</div>
		</div>

    <div class="r-4">
      <input type="file" name="profile_pic" id="file" class="inputfile" data-multiple-caption="{count} files selected" multiple />
      <label for="file">Sube una foto</label>
    </div>

		{{!-- <div class="pass-wrap r-con">
			<input class="pass" placeholder="CONFIRMAR CONTRASEÑA" type="password">
			<div class="pass-view">
				<i class="far fa-eye"></i>
			<i class="far fa-eye-slash" style="display: none;"></i>
			</div>
		</div> --}}
		<button class="r-go">ENVIAR</button>
    </form>
    </div>



	<div class="l-overlay l-inactive left">
		<div class="tri-l tri-l1"></div>
		<div class="tri-l tri-l2"></div>
		<div class="tri-l tri-l3"></div>
		<div class="tri-l tri-l4"></div>
		<div class="tri-l tri-l5"></div>
	</div>
	<div class="r-overlay r-inactive right">
		<div class="tri-r tri-r1"></div>
		<div class="tri-r tri-r2"></div>
		<div class="tri-r tri-r3"></div>
		<div class="tri-r tri-r4"></div>
		<div class="tri-r tri-r5"></div>
	</div>
	<small class="l-disc" style="display: none;">Already have an account?</small>
	<small class="r-disc">Don't have an account?</small>
	<button class="l-btn">SIGN IN</button>
	<button class="r-btn">SIGN UP</button>
</div>
{{!-- 
<div class="area" >
	<ul class="tris">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div > --}}


{{!-- 
<div id="my-btn-contain"><button id="more-btn" onclick="window.open('https://codepen.io/Souleste/pen/dgeLBB' + location.search)">Custom Checkbox</button><button id="more-btn" onclick="window.open('https://codepen.io/Souleste/pen/BbZayX' + location.search)">Hide/Show Password</button>
	<p class="profile" onclick="window.open('https://codepen.io/Souleste/' + location.search)">@Souleste</p>
</div> --}}


{{!-- 
  
  <div id="login">
    <h2>Login</h2>
    <form action="/auth/login" method="POST" id="loginform">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="JonSnow">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Your password">
      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>
      <button>Login</button>
      <p class="account-message">
        Don't have an account yet?
        <a id="signupbutton" href="">Signup</a>
      </p>
    </form>
  </div> --}}

{{!-- 

    <div id="signup">
    <h2>Signup</h2>
    <form action="/auth/signup" method="POST" id="signupform" enctype="multipart/form-data">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Your name">
      <br><br>
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Your password">

      <br><br>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Your email">

      <br><br>
      <label for="bio">Bio</label>
      <textarea cols="50" name="bio" placeholder="Your bio"></textarea>

      <br><br>
      <label for="profile_pic">Foto de perfil</label>
      <input type="file" name="profile_pic">

      <br>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>
      <button>Create account</button>
      <p class="account-message">
        Do you already have an account?
        <a id="signup_loginbutton" href="">Login</a>
      </p>
    </form>
  </div>
  </div> --}}

  
  <footer>
    <p>Made with <i class="fas fa-heart"></i> by <a href="https://www.linkedin.com/in/danielherrerohernando/" target="_blank">Daniel Herrero</a> y <a href="https://www.linkedin.com/in/gomezortiz/" target="_blank">David Gómez</a></p>
  </footer>

  <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="/javascripts/vanillaCalendar.js"></script>
  <script>
  window.addEventListener('load', function () {
    vanillaCalendar.init({
				disablePastDays: false
			});
  })
</script>
  <script src="/javascripts/script.js"></script>
</body>

</html>