<div class="usercontainer">
  <section class="useragenda">
  {{#if user.days.[0]}}
    {{#each user.days}}
      <h1>Agenda del día {{this.title}}</h1>
      {{#if movies.[0]}}
      <h2>Estrenos de cine:</h2>
        {{#each movies}}
          <div class="agendaevent">
            <div class="agendaeventpic" style="background-image: url(https://image.tmdb.org/t/p/w1280{{this.poster_path}});background-size:cover"></div>
            <h3>{{this.title}}</h2>
            <p>{{this.overview}}</p>
          </div>
        {{/each}}
      {{/if}}
      {{#if series.[0]}}
      <h2>Nuevos episodios en series:</h2>
        {{#each series}}
          <div class="agendaevent">
            <div class="agendaeventpic" style="background-image: url(https://image.tmdb.org/t/p/w1280{{this.poster_path}});background-size:cover"></div>
            <h3>{{this.name}}</h2>
            <p>{{this.overview}}</p>
          </div>
        {{/each}}
      {{/if}}
      {{#if games.[0]}}
      <h2>Lanzamientos en videojuegos:</h2>
        {{#each games}}
          <div class="agendaevent">
            <div class="agendaeventpic" style="background-image: url(https://i.blogs.es/15b7b8/110910_playstation-logo/450_1000.jpg);background-size:cover"></div>
            <h3>{{this.name}}</h2>
            <p>{{this.summary}}</p>
            <p><a href={{this.url}}>Leer más</a></p>
          </div>
        {{/each}}
      {{/if}}
      <hr>
    {{/each}}
  {{else}}
    <h2>No has añadido ningún evento todavía</h2>
  {{/if}}
  </section>

  <section class="userprofile">
    <div class="usercontent">
    <h1 class="username">{{user.username}}!</h1>
    <div class="userpic" style="background-image: url({{user.profile_pic}});background-size:cover"></div>

    <p>Email: {{user.email}}</p>
    <p>Bio: {{user.bio}}</p>

    <h2>COMENTARIOS</h2>
    {{#each user.comments}}
    <p>{{this.text}}</p>
      {{#each this.day}}
      <p>{{this.title}}</p>
      {{/each}}
    {{/each}}
    </div>

  </section>
</div>



