<p>El día de hoy: {{dayTitle}}</p>


<form action="/day" method="post">
<label>Dime un día:
<input type="date" name="date" placeholder="YYYY/MM/DD">
</label>
<button type="submit" id="send-day">Enviar</button>
</form>

<h1>MOVIES</h1>

{{#each movies}}
  {{> moviePartial this}}
{{/each}}

<h1>SERIES</h1>

{{#each series}}
  {{> seriesPartial this}}
{{/each}}

{{#each tuits}}
  {{> tuitPartial this}}
{{/each}}

<div>
  <img src={{wiki.img}}>
  <ul>
  {{#each wiki.wikis}}
    <li>{{this.year}}: {{this.description}}</li>
    <p><a href={{this.link}}>Leer más</a></p>
  {{/each}}
  </ul>
 
</div>

<h1>GAMES</h1>

{{#each games}}
  {{> gamePartial this}}
{{/each}}

<hr>
<h1>COMMENTS</h1>
{{#each comments}}
  {{> commentPartial }}
{{/each}}

{{#if user}}
<hr>
<h1>ADD A NEW COMMENT:</h1>
<form action="/comment/new/{{id}}" method="post">
<label>Text: <textarea cols="50" name="text" placeholder="¿Qué quieres decir?"></textarea></label><br><br>
<button type="submit">Enviar</button>
</form>
{{/if}}

