<form action="/day" method="post">
<label>Dime un día:
<input type="date" name="date" placeholder="YYYY/MM/DD">
</label>
<button type="submit" id="send-day">Enviar</button>
</form>

<h1>MOVIES</h1>

{{#each movies}}
  <img src=https://image.tmdb.org/t/p/w1280{{this.poster_path}}>
  <h2>{{this.title}}</h2>
  <p>{{this.overview}}</p>
  <a href="/user/new/{{id}}/movies">Add</a><br><br>
{{/each}}

<h1>SERIES</h1>

{{#each series}}
  <img src=https://image.tmdb.org/t/p/w1280{{this.poster_path}}>
  <h2>{{this.name}}</h2>
  <p>{{this.overview}}</p>
  <a href="/user/new/{{id}}/series">Add</a><br><br>
{{/each}}

{{#each tuits}}
<p><a href={{this.link}}>{{this.title}}</a></p>
{{/each}}

<div>
  <img src={{wiki.img}}>
  <ul>
  {{#each wiki.wikis}}
    <li>{{this.year}}: {{this.description}}</li>
    <p><a href={{this.link}}>Leer más</a></p>
  {{/each}}
  </ul>
 
</div>

<h1>GAMES</h1>

{{#each games}}
  <h2>{{this.name}}</h2>
  <p>{{this.summary}}</p>
  {{#each this.platforms}}
    <p>{{this}},</p>
  {{/each}}
  <p><a href={{this.url}}>Leer más</a></p>
  <a href="/user/new/{{id}}/games">Add</a><br><br>
{{/each}}

<hr>
<h1>COMMENTS</h1>
<form action="/comment/new/{{id}}" method="post">
<label>Text: <textarea cols="50" name="text" placeholder="¿Qué quieres decir?"></textarea></label><br><br>
<button type="submit">Enviar</button>
</form>

<h3>List</h3>
{{#each comments}}
  <h5>{{this.author.username}}</h5>
  <p>{{this.text}}</p>
{{/each}}
