<form action="/day" method="post">
<label>Dime un día:
<input type="date" name="date" placeholder="YYYY/MM/DD">
</label>
<button type="submit" id="send-day">Enviar</button>
</form>

<h1>MOVIES</h1>

{{#each movies}}
  <img src=https://image.tmdb.org/t/p/w1280{{this.poster_path}}>
  <h2>{{this.title}}</h2>
  <p>{{this.overview}}</p>
{{/each}}

<h1>SERIES</h1>

{{#each series}}
  <img src=https://image.tmdb.org/t/p/w1280{{this.poster_path}}>
  <h2>{{this.name}}</h2>
  <p>{{this.overview}}</p>
{{/each}}

{{#each tuits}}
<p><a href={{this.[1]}}>{{this.[0]}}</a></p>
{{/each}}

<div>
{{{wiki}}}
</div>