<h1>Welcome {{user.username}}!</h1>
<img src={{user.profile_pic}}>
<p>Email: {{user.email}}</p>
<p>Bio: {{user.bio}}</p>

{{#each user.days}}
  <h1>Agenda del día {{this.title}}</h1>
  <h2>Estrenos de cine:</h2>
  {{#each movies}}
    {{> moviePartial this}}
  {{/each}}
  <h2>Nuevos episodios en series:</h2>
  {{#each series}}
    {{> seriesPartial this}}
  {{/each}}
  <h2>Lanzamientos en videojuegos:</h2>
  {{#each games}}
    {{> gamePartial this}}
  {{/each}}
{{/each}}

<h2>COMENTARIOS</h2>
{{#each user.comments}}
<p>{{this.text}}</p>
{{#each this.day}}
<p>{{this.title}}</p>
{{/each}}
{{/each}}