<h2>{{this.name}}</h2>
<p>{{this.summary}}</p>
{{#each this.platforms}}
  <p>{{this}},</p>
{{/each}}
<p><a href={{this.url}}>Leer más</a></p>
<button onclick="addEvent(`{{../dayTitle}}`,`{{id}}`,`games`)">Add</button>